<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Search Gifs:</h5>
        <input type="text" class="form-control" placeholder="Search..." />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis a
        nulla minima saepe quidem cumque ipsa optio quaerat at laborum autem
        vitae ratione sequi id quibusdam perspiciatis cum, dolores tempore?
      </div>
    </div>
  </div>
</div>
